*{
	padding: 0;margin: 0;
	}
	a{text-decoration: none;}
	li{list-style: none;}
    section{width: 100%;display: block;}
    


.swiper-pagination{margin-bottom: 30px;}
.web_2{width: 100%;height: 1009px;background: url(../img/web_2.png) no-repeat center;}
.web_3{width: 100%;height: 1037px;background: url(../img/web_3.png) no-repeat center;}
.web_4{width: 100%;height: 925px;background: url(../img/web_4.png) no-repeat center;}
.web_5{width: 100%;height: 942px;background: url(../img/web_5.png) no-repeat center;}



